Django>=2.2,<2.3
uwsgi>=2.0,<2.1
dj-database-url>=0.5,<0.6
# Prevent pip from installing the binary wheel for psycopg2; see:
# http://initd.org/psycopg/docs/install.html#disabling-wheel-packages-for-psycopg-2-7
psycopg2>=2.7,<2.8 --no-binary psycopg2
